html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  color: #fff;
  background: #181818;
}

// 修复 uni-page-body 高度无法100%
page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

layout-default-uni, layout-demo-uni {
  height: 100%;
  display: flex;
  flex-direction: column;
}
